.profile-container {
  width: 100%;
  padding: 0 20px; /* Reduzir o padding para telas menores */
  margin: 32px auto;
}

.profile-container header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile-container header span {
  font-size: 18px; /* Reduzir o tamanho da fonte para telas menores */
  margin-left: 16px; /* Reduzir a margem para telas menores */
}

.profile-container header img {
  height: 48px; /* Reduzir a altura da imagem para telas menores */
  
}

.profile-container header a {
  width: 200px; /* Reduzir a largura do link para telas menores */
  margin-left: auto;
}

.profile-container header button {
  height: 50px; /* Reduzir a altura do botão para telas menores */
  width: 50px; /* Reduzir a largura do botão para telas menores */
  margin-left: 12px; /* Reduzir a margem para telas menores */
}

.profile-container header button:hover {
  border-color: #999;
}

.profile-container h1 {
  margin-top: 60px; /* Reduzir a margem superior para telas menores */
  margin-bottom: 20px; /* Reduzir a margem inferior para telas menores */
  font-size: 24px; /* Reduzir o tamanho da fonte para telas menores */
}

.profile-container ul {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajustar o tamanho das colunas para telas menores */
  gap: 16px; /* Reduzir o espaçamento entre as colunas para telas menores */
  list-style: none;
}

.profile-container ul li {
  position: relative;
  display: block;
  padding: 20px; /* Reduzir o preenchimento para telas menores */
  border-radius: 6px; /* Reduzir o raio da borda para telas menores */
}

.profile-container ul li button {
  position: absolute;
  right: 16px; /* Reduzir a distância do botão para telas menores */
  top: 16px; /* Reduzir a distância do botão para telas menores */
}

.profile-container ul li strong {
  position: relative;
  margin-bottom: 12px; /* Reduzir a margem inferior para telas menores */
  font-size: 16px; /* Reduzir o tamanho da fonte para telas menores */
}

.profile-container ul li p {
  font-size: 14px; /* Reduzir o tamanho da fonte para telas menores */position: relative;
  overflow-wrap: break-word;
}



.profile-container ul li  img {
  max-width: 100%; /* Define a largura máxima da imagem */
  height: auto; /* Altura automática para manter a proporção da imagem */
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .profile-container ul li {
    flex-direction: column; /* Altera a direção da flexbox para coluna em telas menores */
  }

  .profile-container ul li .image {
    width: auto; /* Define a largura automática para que a imagem ocupe toda a largura em telas menores */
    margin-left: 0; /* Remove o espaçamento à esquerda da imagem em telas menores */
    margin-bottom: 20px; /* Adiciona espaçamento entre a imagem e o conteúdo em telas menores */
    position: static; /* Remove a posição absoluta da imagem em telas menores */
    transform: translateY(0); /* Remove a transformação vertical da imagem em telas menores */
    text-align: right; /* Alinha a imagem à direita em telas menores */
  }
}
